.hotels {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 3rem;
    left: 17rem;
}
.accommodations  {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    column-gap: 2.2rem;
    row-gap: 3.5rem;
    margin: 1.5rem 0rem 0rem 15rem;
    padding-bottom: 5rem;
}
.accommodations-tiles {
    box-shadow: $box-shadow;
    border-radius: 30px;
    width: 21rem;
    height: calc(100% + 1.5rem);
    line-height: 1em;
    p {
        margin-bottom: 0.5rem; 
    }
}
.accommodations-links  {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: $dark-blue;
    color: $black;
    padding: 1.5rem 0rem;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 1.5rem;
    .fa-edit, .fa-eye, .fa-camera {
        color: $white;
        font-size: 1.5em;
        border-radius: 50%;
        &:hover {
            background: $white;
            color: $dark-blue;
        }
    }
    .fa-edit { padding: 1rem 0.9rem 0.9rem 1rem; } //top right bottom left
    .fa-eye, .fa-camera { padding: 1rem; }
}
.accommodations-info {
    margin: 0rem 2rem;
    h4 {
        font-weight: 900;
        text-transform: uppercase;
    }
}
.add, .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 15rem;
}