* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto; //shows scroll only when necessary
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    background: #ffffff; 
}
::-webkit-scrollbar-thumb { background: #bdbdbd; }
::-webkit-scrollbar-thumb:hover { background: #bdbdbd86; }

$dark-blue: #1e313e;
$white: #ffffff;
$orange: #ffa500;
$red: #ff0000;
$black: #242424;
$box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.55);
$light-grey: #8d8d8d;

//react alert module
.react-confirm-alert-body  {
    display: flex;
    align-items: center;
    flex-flow: column;
    h1 {
        font-family: montserrat, sans-serif;
        font-size: 2em;
    }
}
.react-confirm-alert-button-group {
    flex-flow: row;
    button {
        text-transform: uppercase;
        font-family: montserrat, sans-serif;
    }
}
.error {
    font-size: 0.7em;
    line-height: 1em;
    color: $orange;
    margin-top: 0.5em;
    text-transform: uppercase;
}