button {
    display: block;
    position: relative;
    padding: 0.5rem 1.6rem;
    width: 10rem;
    border: 2px solid $dark-blue;
    background-color: $white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    margin-top: 1.5rem;
    &:hover {
        background-color: $dark-blue;
        color: $white;
        outline: none;
    }
    &:active, &:focus { outline: none; }
}
.btn-blue {
    background-color: $dark-blue;
    color: $white;
    &:hover {
        color: $dark-blue;
        background-color: $white;
    }
}
.btn-red {
    border: 2px solid $red;
    background-color: $red;
    color: $white;
    &:hover {
        color: $red;
        background-color: $white;
    }
}
.btn__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -2vh;
    left: calc(100% - 7rem);
    i { 
        color: $dark-blue; 
        font-size: 2em;
    }
    &:hover {
        background-color: transparent;
        transform: scale(1.1);
    }
}
.btn-more, .btn__learn { display: none; }
.btn-default { //view more
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
    width: 15rem;
    margin-left: calc(50vw - 7.5rem);
    margin-bottom: 5rem;
    text-transform: capitalize;
    transition: transform ease-out 0.1s;
    &:hover { 
        transform: scale(1.05);
        background-color: transparent;
        color: #000000;
    }
}
.react-confirm-alert-button-group {
    flex-flow: row;
    button {
        display: flex;
        align-items: center;
        flex-flow: column;
        text-align: center;
        text-transform: uppercase;
        font-family: montserrat, sans-serif;
    }
}
.btn_logout {
    border: none;
    padding: 0;
    background-color: transparent;
    color: $white;
    width: 100%;
    text-align: left;
    margin: 0.2rem 0 0 2rem;
    font-weight: 700;
    p { font-size: 0.9em; }
    i { font-size: 1.1em; }
    &:hover {
        background-color: transparent;
        color: $orange;
    }
}