
.contact__bg {
    background-image: url('https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CCCCCC;
    position: absolute;
    height: 100%;
    width: 105%;
    top: 0;
    left: 0;
    z-index: -9;
}
.SoMe-container {
    background-color: $dark-blue;
    box-shadow: -4px -2px 16px rgba(78, 78, 78, 0.55);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    left: 0vw;
    margin-left: 5.8rem;
    top: 50vh;
    margin-top: -15rem;
    width: 4rem;
    height: 20rem;
    z-index: 9;
    i {
        color: $orange;
        cursor: none;
        font-size: 1.1em;
    }
    a i {
        color: $white;
        cursor: pointer;
        transition: transform ease-out 0.1s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.contact-form {
    background-color: $white;
    box-shadow: $box-shadow;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: center;
    left: 0vw;
    margin-left: 4rem;
    top: 50vh;
    margin-top: -15rem;
    width: 27.5rem;
    height: 30rem;
    padding: 4rem 4rem 4rem 8.5rem;
    h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    input, textarea, input:focus, input:active, textarea:focus, textarea:active {
        border-bottom: solid 1px $black;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        outline: none;
    }
    .btn-blue {
        width: 9rem;
        margin-top: 1.5rem;
    }
    label {
        text-transform: uppercase; 
        font-size: 0.8em;
        color: $light-grey;
        opacity: 1;
        margin: 0;
        padding: 0;
    }
}
.about {
    height: 20rem;
    width: 40vw;
    margin-top: 6rem;
    margin-left: 5rem;
    margin-bottom: 20rem;
    p {
        max-width: 32vw;
    }
}