form {
    display: flex;
    background-color: $white;
    box-shadow: $box-shadow;
    input, textarea, input:focus, input:active, textarea:focus, textarea:active {
        background-color: $white;
        border-bottom: solid 1px $black;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        outline: none;
        padding-top: 0.5rem; 
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.2em;
        &::placeholder, &::placeholder:focus, &::placeholder:active {
            background-color: $white;
            text-transform: uppercase; 
            font-size: 1em;
            color: #B7B7B7;
            opacity: 1;
        }
    }
}
label {
    text-transform: uppercase; 
    font-size: 0.8em;
    color: $light-grey;
    opacity: 1;
    margin-top: 1rem;
    padding: 0;
}
.contact-form, .login form, .register form {
    position: absolute;
    flex-flow: column nowrap;
    justify-content: center;
    .btn-blue { margin-top: 1.5rem; }
}
.contact-form {
    align-items: left;
    left: 0vw;
    margin-left: 4rem;
    top: 50vh;
    margin-top: -17.5rem;
    width: 35rem;
    height: 35rem;
    padding: 4rem 4rem 4rem 8.5rem;
    .btn-blue { width: 9rem; }
    h2 {
        font-size: 2.5em; 
        font-weight: 200;
        margin-bottom: 1rem;
    }
}
.admin-form {
    flex-flow: column nowrap;
    position: relative;
    height: 90vh;
    width: 90vw;
    max-width: 45rem;
    padding: 3rem;
    div { margin: 0.3rem 2rem; }
    .topic-group {
        display: flex;
        flex-flow: row wrap;
        margin-top: 0.5rem;
        label {
            margin-right: 0.3rem;
            margin-top: 0.5rem;
        }
        input {
            margin-right: 2rem;
            width: 26%;
        }
    }
    .btn-group {
        display: flex;
        justify-content: space-between;
        button { width: 15rem; }
    }
}
.error {
    font-size: 0.7em;
    line-height: 1em;
    color: $orange;
    margin-top: 0.5em;
    text-transform: uppercase;
}
.SoMe-container {
    background-color: $dark-blue;
    box-shadow: -4px -2px 16px rgba(78, 78, 78, 0.55);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    left: 0vw;
    margin-left: 5.8rem;
    top: 50vh;
    margin-top: -17.5rem;
    width: 4rem;
    height: 20rem;
    z-index: 9;
    i {
        color: $orange;
        cursor: none;
        font-size: 1.1em;
    }
    a i {
        color: $white;
        cursor: pointer;
        transition: transform ease-out 0.1s;
        &:hover { transform: scale(1.1); }
    }
}