.accommodations-header {
    background-color: $dark-blue;
    box-shadow: $box-shadow;
    width: 100vw;
    height: 78%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9;
    .accommodations__img {
        background-image: url("https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
        background-color: $dark-blue;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70vw;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -9;
    }
    .accommodations__txt {
        position: absolute;
        right: 0;
        top: 0;
        color: $white;
        width: 26vw;
        margin: 2vw;
        text-align: center;
        padding-top: 15%;
        h1 {
            font-size: 3.3em;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
}