.fa-user-times, .btn_logout {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.fa-user-times:active,.fa-user-times:focus, .btn_logout:focus, .btn_logout:active {
    transform: scaleX(-1) scale(1.1);
    border: none;
    outline: none;
}