.login {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #CCCCCC;
    background-image: url("../images/hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    .login__light {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        left: 50vw;
        margin-left: 0rem;
        top: 50vh;
        margin-top: -17.5rem;
        width: 30rem;
        height: 35rem;
        padding: 5rem;
        background-color: $white;
        box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.55);
        p {
            font-family: learning-curve, sans-serif;
            font-size: 1.5em;
            color: #8D8D8D;
        }
        h3 {
            font-size: 2.5em;
        }
        input {
            border-bottom: solid 1px $black;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 100%;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            &::placeholder {
                text-transform: uppercase; 
                font-size: 0.8em;
                color: #B7B7B7;
                opacity: 1;
                
            }
        }
        input:focus, input:active {
            background-color: $white;
            border-bottom: solid 1px $black;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            &::placeholder:focus, &::placeholder:active {
                background-color: $white;
                
            }
        }
        .btn__register { border: 1.5px solid $dark-blue; }
    }
    .login__dark {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        left: 50vw;
        margin-left: -35rem;
        top: 50vh;
        margin-top: -12.5rem;
        background-color: $dark-blue;
        width: 70rem;
        height: 25rem;
        padding: 7rem;
        h3, p {
            font-family: roboto, sans-serif;
            font-weight: 200;
            color:  $white;
            max-width: 20rem;
            margin-bottom: 1.5rem;
        }
        h3 {
            font-size: 2.5em;
        }
        .btn__register { border: 1.5px solid $white; }
    }
}
.btn__register {
    position: relative;
    width: 9rem;
    padding: 0.5rem 1.6rem;
    background-color: $dark-blue;
    color: $white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    margin-top: 1.5rem;
    &:hover {
        color: $dark-blue;
        background-color: $white;
    }
}
