@mixin float-animation {
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    transition: all .2s ease-in-out;
}
@mixin fade {
    animation-name: fade;
    @include float-animation;
}
.login, .register, .enquiry {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #5f6f79;
    background-image: url("../images/hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    h3 { 
        font-size: 2.5em; 
        font-weight: 200;
    }
    form {
        top: 50vh;
        left: 50vw;
        width: 30rem;
        height: 35rem;
        padding: 5rem;
        margin-top: -17.5rem;
    }
    p {
        font-family: learning-curve, sans-serif;
        font-size: 1.5em;
        color: #8D8D8D;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    input, input:focus, input:active {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    .btn-blue { border: 2px solid $dark-blue; }
    .login__dark, .register__dark, .enquiry__dark {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        left: 50vw;
        margin-left: -35rem;
        top: 50vh;
        margin-top: -12.5rem;
        background-color: $dark-blue;
        width: 70rem;
        height: 25rem;
        h3, p {
            font-family: roboto, sans-serif;
            font-weight: 200;
            color:  $white;
            max-width: 20rem;
        }
        p { 
            font-size: 1.2em;
            margin-top: 1rem;
        }
        .btn-blue { border: 2px solid $white; }
    }
}
.login {
    form { 
        @include float-animation;
        animation-name: float-right;
        margin-left: 0rem; 
        p, h3 { @include fade; } 
    }
    .login__dark { 
        padding: 7rem;
        p, h3 { @include fade; }
    }
}
.register {
    form { 
        margin-left: -30rem;
        @include float-animation;
        animation-name: float-left;
        p, h3 {
            @include fade;
        } 
    }
    .register__dark { 
        padding-left: 44rem; 
        p, h3 {
            @include fade;
        }
    }
}
.enquiry {
    background-image: url("../images/hero.svg");
    form {
        width: 35rem;
        height: 40rem;
        padding: 5rem;
        margin-top: -19rem;
        margin-left: -4rem;
    }
    .enquiry__dark { 
        padding: 5rem; 
    }
    label {
        margin-top: 0;
        margin-bottom: 0.3rem;
    }
    a, i {
        color: $white;
        font-weight: 900;
        &:hover {
            opacity: 0.7;
        }
    }
}
@keyframes float-left {
    0%   { margin-left: 0rem; }
    100% { margin-left: -30rem;}
}
@keyframes float-right {
    0%   { margin-left: -30rem; }
    100% { margin-left: 0rem;}
}
@keyframes fade {
    0%   { opacity: 0; }
    80% { opacity: 0.3; }
    100% { opacity: 1; }
}