.search-results {
    position: absolute;
    top: 62vh;
    z-index: 9;
    width: 100vw;
    .cards {
        margin-top: 2rem;
        margin-bottom: 1rem; 
        margin-left: 15vw;
        width: 70vw;
        background-color: $white;
        padding-left: 2rem;
        box-shadow: -4px -2px 16px rgba(0, 0, 0, 0.55);
    }
    .cards__txt {
        padding: 2rem;
    }
    .highlights, .btn__book, .cards__address {
        display: none;
    }
    .btn__learn {
        display: block;
    }
}
.search-bar {
    position: absolute;
    top: 55vh;
    left: 50vw;
    margin-left: -6.75rem;
    input {
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.5);
        width: 13.5rem;
        text-align: left;
        border-radius: 25px;
        padding: 0.5rem 1rem;
        &::placeholder {
            color: $dark-blue;
            opacity: 1;
            font-family: montserrat, FontAwesome, sans-serif;
        }

    }

}
.btn__close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -6.2vh;
    left: 60vw;
    i { 
        color: $white; 
        font-size: 2em;
    }
}