.recently-veiwed-container { 
    h2 {
        margin-top: 1rem; 
        margin-bottom: 3rem; 
        font-weight: 600;
        font-size: 2.5em;
        text-transform: uppercase;
        text-align: center;
    }
}
.default {
    .cards {
        display: none;
        &:nth-child(16), &:nth-child(15)  { display: flex; }
    }
}
.more { .cards { display: flex; } }
.recently-veiwed {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1rem;
}